header {
    background-color: #FF69B4;
    width: 100%;
    height: 100%;
    div {
        display: flex;
        align-items: center;
        img {
            height: 100px;
        }
        h1 {
            color: #E4EEF1;
            font-size: 18px;
            font-weight: 400; 
        }
    }
    nav {
        display: flex;
        width: 40vw;
        margin-right: 15rem;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            color: #E4EEF1;
            width: 100%;
        }
    }
}

.divmae {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
}

.first {
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64vh;
    p {
        font-size: 25px;
        height: 35vh;
        width: 40vw;
    }
    img {
        height: 60vh;
        width: 28vw;
    }
}

.second {
    background: #FF69B4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 44vh;
    img {
        width: 32vw;
        height: 40vh;
    }
    p {
        color: #E4EEF1;
        font-size: 25px;
        width: 46vw;
        height: 25vh;
    }
}

.third {
    background: #FFD9EC;
    display: flex;
    justify-content: space-around;
    height: 72vh;
    align-items: center;
    img {
        width: 19vw;
        height: 42vh;
    }
}

footer {
    height: 24.5vh;
    background-color: #FF69B4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .redes-sociais {
        display: flex;
        width: 17vw;
        justify-content: space-between;
        img {
            width: 4.45vw;
            height: 9.7vh; 
        }
    }
    .lista {
        width: 35vw;
        padding-right: 2rem;
    }
    ul {
        list-style: none;
        text-align: center;
        color: #E4EEF1;
    }
    .logo-outubro-rosa{
        width: 8vw;
        height: 18vh;
    }
}